body {
  margin: 0px;
  padding: 0px;
  width:765px;
  height:550px;
}
iframe{
  margin: 0px;
  padding: 0px;
  border: none;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
}
@-webkit-keyframes square-grid-pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0.7;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes square-grid-pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0.7;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}        
.loader {
  left: 0px;
  top: 55px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  text-align: center;
  z-index: 100;
  background: #ffffff;          
}
.loader > div {
  margin: 12% auto 30px auto;
}
.loader-box-container {
  width: 57px;
  height: 20px;
  margin: 20px auto;
}
.square-grid-pulse {
  width: 57px;
}
.square-grid-pulse > div {
  width: 15px;
  height: 15px;
  margin: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
  float: left;
  -webkit-animation-name: square-grid-pulse;
  animation-name: square-grid-pulse;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  background-color: #cccccc;
}
.square-grid-pulse > div:nth-child(1) {
    -webkit-animation-delay: 0.58s;
    animation-delay: 0.58s;
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
}
.square-grid-pulse > div:nth-child(2) {
    -webkit-animation-delay: 0.01s;
    animation-delay: 0.01s;
    -webkit-animation-duration: 0.94s;
    animation-duration: 0.94s;
}
.square-grid-pulse > div:nth-child(3) {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
    -webkit-animation-duration: 1.43s;
    animation-duration: 1.43s;
}